{% extends 'v2/base.html' if request.state.v2_primary | default(false) else 'legacy_base.html' %}
{% set principal = request.state.principal %}
{% if request.state.v2_primary | default(false) %}
{% set page = compatibility_page(request) %}
{% set navigation = primary_navigation(request) %}
{% set scope_locked = true %}
{% set scope_caption = 'Workspace access' %}
{% set store_scope_label = 'Your available tools' %}
{% endif %}
{% block page_styles %}<link rel="stylesheet" href="/v2-assets/compatibility.css?v={{ asset_version }}" />{% endblock %}
{% block body_scripts %}{% include 'legacy_autosave.html' %}{% endblock %}
